html {
    font-size: 16px;
}

body {
    margin: 0
}

img {
    height: 430px;
    width: 430px;
}

a {
    display: inline-block;
    padding: 0.5rem 0;
}

h1 {
    color: darkred;
}

@media (width >=768px) {
    img {
        height: 300px;
        width: 768px;
    }
}
